<!DOCTYPE html>
<html ng-app="panelModule" ng-cloak>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solar</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.10/angular-material.min.css">

    <link rel="stylesheet" href="https://unpkg.com/ng-material-datetimepicker/dist/material-datetimepicker.min.css">

    <link rel="stylesheet" href="css/navigation.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/datetimepicker.css">
</head>

<body>
    <div ng-controller="NavigationController as navCtlr" ng-init="navCtlr.init('sidenav','mainContent')">
        <div ng-controller="PanelController as panelCtrl">
            <div ng-controller="HourlyElectricityController as hourlyElectricityCtrl">
                <div ng-controller="DailyElectricityController as dailyElectricityCtrl">

                    <section layout="row" flex="">
                        <md-sidenav id="sidenav" class="md-sidenav-left" md-component-id="sidenav" md-disable-backdrop="" md-whiteframe="4">
                            <md-toolbar class="md-theme-indigo">
                                <h1 class="md-toolbar-tools">Dashboard</h1>
                            </md-toolbar>
                            <md-content layout-margin="">
                                <p> <a href="#panels" ng-click="navCtlr.select('panels')">Panels</a></p>
                                <p> <a href="#hourly_electricities" ng-click="navCtlr.select('hourly_electricities')">Hourly
                                        Electricities
                                    </a></p>
                                <p> <a href="#daily_electricities" ng-click="navCtlr.select('daily_electricities')">Daily
                                        Electricities
                                    </a></p>
                            </md-content>
                        </md-sidenav>

                        <md-content id="mainContent" flex="" layout-padding="">
                            <span id="sideNavToggler" class="sidenav-toggle" ng-click="navCtlr.toggleLeft()">&#9776;</span>
                            <span class="application-title">Solar</span>

                            <div ng-show="navCtlr.isSelected('panels')" ng-include="'views/panel/list.html'"></div>
                            <div ng-show="navCtlr.isSelected('hourly_electricities')" ng-include="'views/hourly_electricity/list.html'"></div>
                            <div ng-show="navCtlr.isSelected('daily_electricities')" ng-include="'views/daily_electricity/list.html'"></div>
                        </md-content>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-sanitize.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.10/angular-material.min.js"></script>

    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>

    <script src="https://unpkg.com/ng-material-datetimepicker/dist/angular-material-datetimepicker.min.js"></script>

    <script src="js/table.js"></script>
    <script src="modules/panel.module.js"></script>
    <script src="directives/alert.directive.js"></script>
    <script src="services/panel.service.js"></script>
    <script src="controllers/panel.controller.js"></script>
    <script src="controllers/navigation.controller.js"></script>
    <script src="controllers/pagination.controller.js"></script>
    <script src="controllers/hourlyElectricity.controller.js"></script>
    <script src="controllers/datepicker.controller.js"></script>
    <script src="controllers/date.controller.js"></script>
    <script src="controllers/unitOfMeasure.controller.js"></script>
    <script src="controllers/dailyElectricity.controller.js"></script>

    <script>
        $(document).ready(function () {
            $('#sideNavToggler').click();// We want the side navigation to be open when the user loads the page for the first time.
        });
    </script>
</body>

</html>